h1 {
    color: #efd3a2;  /* Цвет текста */
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 20px; /* Внешний отступ сверху */
    margin-bottom: 20px; /* Внешний отступ снизу */
}

.Food{
    margin-left: 400px;
}

.text{
color: #efd3a2;  /* Цвет текста */
    font-family: 'Montserrat', sans-serif;
    font-size: 25px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    text-align: left; /* Выравнивание текста по центру */
    margin-top: 20px; /* Внешний отступ сверху */
    margin-bottom: 20px; /* Внешний отступ снизу */
}

.button {
    font-size: 20px; /* Размер шрифта */
    background-color: black;
    color: white;
    border: 1px solid #efd3a2;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 15px; /* Внешний отступ сверху */
 transition: all 0.3s ease;
}

.button:hover {
  transform: scale(1.05);
}

.location-container {
    display: flex;
}