{% extends 'fastfeast/base.html' %}
{%load static%}
{%block body%}
<link rel="stylesheet" href="{% static 'fastfeast/css/category_dishes_detail.css'%}">
{%if category.parent == None%}
    <h1>{{category.name}}</h1>
    <ul class="category-list">
    {% for cat in sub_category %}
        <li class="category-item">
            <form action="{% url 'fastfeast:category_dishes_detail' cat.id %}?next={{ request.path }}" method="get">
                {% csrf_token %}
                <input type="submit" value="{{ cat.name }}" class="button" />
            </form>
        </li>
    {% endfor %}
    </ul>

<div style="clear: both;"></div>

    <br>
    {%for cat in sub_category%}
        {%for dish in cat.dishes.all%}
            <ul>
            <li class="product-wrapper">
                <a class = "dish" href="{% url 'fastfeast:dishes_detail' dish.id%}"><img class = "product-photo" src="{% static 'fastfeast/img/Food.jpg' %}" alt="Food">
                    <div class="text">
                        {{dish.name}}</div></a>
            </li>
            </ul>
        {%endfor%}
    {%endfor%}
{%else%}
    <h1>{{category.name}}</h1>
    {%for dish in dishes%}
            <ul>
            <li class="product-wrapper">
                <a class = "dish" href="{% url 'fastfeast:dishes_detail' dish.id%}"><img class = "product-photo" src="{% static 'fastfeast/img/Food.jpg' %}" alt="Food">
                    <div class="text">
                        {{dish.name}}</div></a>
            </li>
            </ul>
    {%endfor%}
{%endif%}
{%endblock%}
