{% extends 'fastfeast/base.html' %}
{%block body%}
    {{dish.name}}
    <br>
    {{dish.price}}
    <br>
    {{dish.description}}
    <br>
{% if user.is_authenticated %}
            <form action="{% url 'fastfeast:add_to_cart' %}?next={{ request.path }}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{dish.id}}" />
                <input type="submit" value="add_to_cart" class="btn btn-danger"/>
            </form>
        {% endif%}
{%endblock%}