{% extends 'fastfeast/base.html' %}
{%load static%}
{%block body%}
<link rel="stylesheet" href="{% static 'fastfeast/css/main.css'%}">

<h1>Список категорий еды:</h1>
    <ul class="category-list">
    {% for cat in categories_dishes%}
        <li class="category-item">
            <form action="{% url 'fastfeast:category_dishes_detail' cat.id %}?next={{ request.path }}" method="get">
                {% csrf_token %}
                <input type="submit" value="{{ cat.name }}" class="button" />
            </form>
        </li>
    {% endfor %}
    </ul>

  <h1>Cписок категорий ресторанов:</h1>
        <ul class="category-list">
            {%for cat in categories_institutions%}
            <li class="category-item">
                <form action="{% url 'fastfeast:category_institutions_detail' cat.id%}?next={{ request.path }}" method="get">
                {% csrf_token %}
                <input type="submit" value="{{ cat.name }}" class="button" />
            </form>
            </li>
            {%endfor%}
        </ul>



    <h1>Cписок ресторанов:</h1>
{%for institution in institutions%}
        <ul>
            <li class="product-wrapper">
                <a class = "institution" href="{% url 'fastfeast:institution_detail' institution.id%}"><img class = "institution-photo" src="{% static 'fastfeast/img/institution.avif' %}" alt="Food">
                    <div class="text">
                        {{institution.name}}</div></a>
            </li>
        </ul>
        {%endfor%}




{%endblock%}


