{% extends 'fastfeast/base.html' %}
{%load static%}
{%block body%}
<link rel="stylesheet" href="{% static 'fastfeast/css/search.css'%}">

<h1>Результат запроса по блюдам</h1>
{%if dishes%}
   {%for dish in dishes%}
            <ul>
            <li class="product-wrapper">
                <a class = "dish" href="{% url 'fastfeast:dishes_detail' dish.id%}"><img class = "product-photo" src="{% static 'fastfeast/img/Food.jpg' %}" alt="Food">
                    <div class="text">
                        {{dish.name}}</div></a>
            </li>
            </ul>
    {%endfor%}

{%else%}
<div class="text2">
    К сожалению по вашему запросу ничего не найдено)
</div>
{%endif%}
<div style="clear: both;"></div>

    <br>
<h1>Результат запроса по заведениям</h1>

{%if institutions%}
{%for institution in institutions%}
        <ul>
            <li class="product-wrapper">
                <a class = "dish" href="{% url 'fastfeast:institution_detail' institution.id%}"><img class = "product-photo" src="{% static 'fastfeast/img/institution.avif' %}" alt="Food">
                    <div class="text">
                        {{institution.name}}</div></a>
            </li>
        </ul>
        {%endfor%}

{%else%}
<div class="text2">
    К сожалению по вашему запросу ничего не найдено)
</div>
{%endif%}
{%endblock%}
